html {
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

/* Generic modals.
 *********************************************************/

.modalBlotter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0.8;
}

.modalStack {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalStack .modalFrame {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: #000 0 0 2em 0.5em;
  padding: 1em;
  position: absolute;
  max-width: 90vw;
}

/* RootUi.
 *************************************************************/
 
.RootUi {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Toolbar.
 *************************************************************/
 
.ToolbarUi {
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: column;
}

.ToolbarUi > * {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ToolbarUi .mouseTattle {
  font-family: sans-serif;
  font-size: 9pt;
  overflow: hidden;
  white-space: nowrap;
}

.ToolbarUi .playheadTattle {
  font-family: monospace;
  font-size: 9pt;
  overflow: hidden;
  white-space: pre;
}

.poppable { /* VisibilityUi, MetronomeUi */
  position: relative;
}

.poppable > .popup {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 2em;
  min-height: 2em;
  background-color: #000;
  border: 1px solid #000;
  box-shadow: #000 0 0 1em;
  z-index: 1;
}

/* Editor.
 *************************************************************/
 
.EditorUi {
  flex: 1;
  position: relative;
}

.EditorUi .scroller {
  overflow: scroll;
  position: absolute;
  width: 100%;
  height: calc(100% - 1em);
  top: 1em;
}

.EditorUi .scroller .scrollSizer {
  width: 0;
  height: 0;
}

.EditorUi .ChartUi {
  position: absolute;
  width: 100%;
  height: calc(100% - 1em);
  top: 1em;
}

.EditorUi .PlayheadRibbon {
  position: absolute;
  width: 100%;
  top: 0;
  height: 1em;
}

.EditorUi .PlayheadRibbon.empty {
  background-color: #888;
}

.EditorUi .PlayheadRibbon.ready {
  background-color: #080;
}

.EditorUi .PlayheadRibbon.play {
  background-color: #36f;
}

.EditorUi .PlayheadRibbon.record {
  background-color: #c00;
}

/* QuantizationModal.
 *********************************************************/
 
.QuantizationModal {
  min-width: 30vw;
}

.QuantizationModal > table {
  width: 100%;
}

.QuantizationModal tr:nth-child(odd) {
  background-color: #ddd;
}

/* EventsModal.
 ********************************************************/
 
.EventsModal {
  min-width: 40vw;
}

/* EventListModal.
 ****************************************************************/
 
.EventListModal {
  min-width: 50vw;
}
 
.EventListModal .eventListScroller {
  overflow-y: scroll;
  height: 80vh;
}
 
.EventListModal .eventList {
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.EventListModal .eventList tr.header {
  position: sticky;
  top: 0;
}

.EventListModal .eventList tr.event:hover {
  background-color: #00f;
  color: #ff0;
}

.EventListModal .eventList tr:nth-child(odd) {
  background-color: #ddd;
}

/* ChannelHeadersModal.
 ***********************************************************/
 
.ChannelHeadersModal {
  min-width: 50vw;
}

.ChannelHeadersModal > table {
  width: 100%;
}

.ChannelHeadersModal td.eventId {
  width: 2em;
}

.ChannelHeadersModal td.program {
  display: flex;
  flex-direction: column;
}

.ChannelHeadersModal .programTattle {
  white-space: nowrap;
  font-size: 8pt;
  font-family: sans-serif;
}

.ChannelHeadersModal .volumeTattle {
  display: inline-block;
  min-width: 2em;
}

.ChannelHeadersModal .panTattle {
  display: inline-block;
  min-width: 2em;
}

.ChannelHeadersModal tr:nth-child(odd) {
  background-color: #ddd;
}

/* MynthChannelHeadersModal.
 *******************************************************/
 
.MynthChannelHeadersModal .channelsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.MynthChannelHeadersModal .channel {
  min-width: 100px;
  min-height: 100px;
  margin: 0.5em;
  border: 1px solid #000;
}

.MynthChannelHeadersModal .channel h3 {
  margin: 0;
}

.MynthChannelHeadersModal .channel .warning {
  background-color: #fc0;
  border: 1px solid #000;
}

.MynthChannelHeadersModal .tattle {
  background-color: #040;
  color: #ff0;
  font-family: monospace;
  font-size: 9pt;
  white-space: pre;
}
